@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: 'Poppins', sans-serif;
}

.nav {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo span {
    color: #444;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

#logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 40rem;
    margin-top: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links li {
    position: relative;
    font-size: 0.9rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.links {
    color: #666;
    font-weight: 500;
    transition: color 0.3s ease-in-out, font-weight 0.3s;
    position: relative;
}

.links:hover {
    color: #007BFF;
}

.links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #007BFF;
    transition: width 0.3s ease;
    border-radius: 2px;
}

.links:hover::after,
.links.active::after {
    width: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.contact-block {
    background-color: #f1f1f1;
    padding: 0.4rem 0.75rem;
    border-radius: 6px;
    font-size: 0.75rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.contact-icon {
    font-size: 1rem;
    color: #007BFF;
}
.contact{
     padding: 0.4rem 0.75rem;
    border-radius: 6px;
    font-size: 0.75rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}